<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
     <!-- css node - express.static -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">  
     <!-- css custom -->
     <link rel="stylesheet" href="/stylesheets/main.css">  
</head>
<body>
  <div class="col-12">
    <h1>Signup Form</h1>
  </div>
  <div clas="col-12">
    <form  name="registerForm" action="/me/register" method="post">
      <div class="form-group mt-1">
        <label for="username">User Name</label>
        <input type="text" name="username" class="form-control" id="username"  placeholder="Enter name">
      </div>
        <div class="form-group mt-1">
          <label for="email">Email address</label>
          <input type="email" name="email" class="form-control" id="email"  placeholder="Enter email">
        </div>
        <div class="form-group mt-1">
          <label for="passwd">Password</label>
          <input type="password" class="form-control" name="passwd" id="passwd" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary mt-1">Submit</button>
      </form>
    </div>
    <!-- scripts from node redirected in app.js with express.static -->
      <script src="/js/jquery.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <!-- scripts from public-->
      <script src="/javascripts/main.js"></script>
</body>
</html>